{% extends 'base.html' %}
{% block 'main' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-3">
                <h3>Our Contact Information</h3>
                <p><strong>Address:</strong><br>
                    SKY TRENDS PVT LTD.
                    3rd floor, Korem Mall,
                    Near Toyota Showroom,
                    Road No 22, Wagle Estate,
                    Thane-West</p>

                <p><strong>Email:</strong><br>
                support@skytrendsclothing.com</p>

                <p><strong>Phone:</strong><br>
                0229999988</p>

                <p><strong>We're available on email:</strong><br>
                Monday – Friday 11AM - 5PM IST</p>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock 'main' %}
