{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css">
    
</head>
<body>
    <!--Start Footer-->
    <footer class="bg-dark text-light py-4">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h5>SKY TRENDS PVT LTD.</h5>
              <p>
                3rd floor, Korem Mall, <br>
                Near Toyota Showroom, <br>
                Road No 22, Wagle Estate, <br>
                Thane-West
              </p>
            </div>
            
            <div class="col-md-4">
              <h5>Quick Links</h5>
              <ul class="list-unstyled">
                <li><a href="" target="_blank" style="color: white; text-decoration: none;" >Home</a></li>
                <li><a href="/contact-us/" target="_blank" style="color: white; text-decoration: none;" >Contact us</a></li>
                <li><a href="/about-us/" target="_blank" style="color: white; text-decoration: none;">About us</a></li>
                <li><a href="/trackorder/" target="_blank" style="color: white; text-decoration: none;">Track Order</a></li>
              </ul> 
            </div>
    
            <div class="col-md-4">
              <h5>Connect Us</h5>
              <a href="https://www.facebook.com/" target="_blank" class="text-light me-3"><i class="bi bi-facebook"></i></a><br>
              <a href="https://www.instagram.com/accounts/login/?hl=en" target="_blank" class="text-light me-3"><i class="bi bi-instagram"></i></a><br>
              <a href="https://in.linkedin.com/" target="_blank" class="text-light me-3"><i class="bi bi-linkedin"></i></a><br>
              <a href="https://x.com/?lang=en" target="_blank" class="text-light"><i class="bi bi-twitter"></i></a>
            </div>
            <div style="text-align: center;"><br>
              &copy; 2025 Aakash Vishwakarma. All rights reserved.
          </div>
          </div>
        </div>
      </footer>
      <!--End Footer-->
</body>
</html>