{% extends 'base.html' %}
{% block 'main' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4 shadow mt-4 p-4 mx-auto rounded">
                <h1 class="text-center">Registration</h1>
                {% if errmsg %}
                <div class="alert alert-danger">
                    {{ errmsg }}
                </div>
                {% endif %}
                <form method="POST" action="/register/">
                    {% csrf_token %}
                    <!-- Username -->
                    <div class="mb-3">
                        <label for="Input1" class="form-label">Username</label>
                        <input type="text" class="form-control" name="uname" id="Input1" placeholder="Enter a name" required>
                    </div>
                    
                    <!-- Email -->
                    <div class="mb-3">
                        <label for="Input2" class="form-label">Email ID</label>
                        <input type="email" class="form-control" name="umail" id="Input2" placeholder="Enter an Email ID" required>
                    </div>
                    
                    <!-- Password -->
                    <div class="mb-3">
                        <label for="Input3" class="form-label">Password</label>
                        <input type="password" class="form-control" name="upass" id="Input3" placeholder="Enter password" required>
                    </div>

                    <!-- Confirm Password -->
                    <div class="mb-3">
                        <label for="Input4" class="form-label">Confirm Password</label>
                        <input type="password" class="form-control" name="ucpass" id="Input4" placeholder="Enter Confirm Password" required>
                    </div>

                    <!-- Submit Button -->
                    <div class="mb-3 text-center">
                        <input type="submit" class="btn btn-dark w-100" value="Register">
                    </div>
                    
                    <!-- Redirect Link -->
                    <div class="text-center">
                        <p>Already Registered? <a href="/login/" class="text-decoration-none">Login</a></p>
                    </div>

                    {% if success %}
                    <div class="alert alert-success">
                        {{ success }}
                    </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock 'main' %}